<table class="index">
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th><%= t('type') %></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% product.related_variants.each do |relation| %>
      <tr id="<%= dom_id relation %>">
        <td><%= relation.related_to.name %></td>
        <td><%= relation.relation_type.name %></td>
        <td width="70px">
          <%= link_to_delete relation, {:url => spree.admin_product_related_variant_url(relation.relatable, relation)} %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
